

#counter_cart
{
    width: 20px;
    height: 20px;
    background: yellow;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;

    justify-content: center;
    align-items: center;
    display: flex

    /* right: 40px; */
    /* position: absolute; */
}
.focusCard
{
    border-color: var(--primary-color) !important;
    border: 2px solid green !important;
}
.focusCard:hover
{
    border-color: green !important;
}
.address_card:hover 
{
    border-color: green !important;
}
.hover-red:hover
{
    color: red;
}